
.data-hora {
    background-color: #f3f1ee;
    justify-items: center;
    border: solid 2px #98CE00;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #98CE00;
}

.data {
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
}

.data input {
    margin-top: 6px;
    border: solid 2px #98CE00;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.data input:hover {
    background-color: #97ce0083;
}

.hora {
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
}

.hora input {
    margin-top: 6px;
    border: solid 2px #98CE00;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hora input:hover {
    background-color: #97ce0083;
}

.data-hora > p {
    text-align: center;
    margin: 25px 0 10px 0;
}

.localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localizacao h2 {
    margin-top: 30px;
}

.localizacao > iframe {
    width: 290px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #98CE00;
    padding: 2px;
}